---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
  <div
    class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32"
  >
    <div class="space-y-4 sm:space-y-12">
      <H1> Get to know our Company </H1>

      <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
        <a
          href="https://astrashristi.software"
          target="_blank"
          class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200"
        >
          Astrashristi
        </a>
        is a technology company focused on building powerful, innovative, and reliable
        digital solutions.
      </p>
    </div>

    <div class="space-y-2 text-base sm:text-lg">
      <h2
        class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
      >
        Services
      </h2>

      <ul class="px-4 text-zinc-400 list-disc list-outside">
        <li>Web Development (custom apps, e-commerce, portals)</li>
        <li>Mobile App Development (iOS, Android, cross-platform)</li>
        <li>Cloud & DevOps (scalable infrastructure, automation)</li>
        <li>AI & Machine Learning Solutions (smart analytics, automation)</li>
        <li>IoT & Embedded Systems (smart devices, connectivity)</li>
        <li>
          Tech Consulting (architecture, optimization, digital transformation)
        </li>
      </ul>
    </div>
  </div>
</InfoLayout>
